@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    margin:0%;
    padding: 0%;
}

:root{

    --cor-primaria:  #f6f6f6;
    --cor-secundaria: #e9967a;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}


body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

header{
    background-color: var(--cor-secundaria);
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav{
    width: 80%;
   
}

ul{
    display: flex;
    width: 50%;
    justify-content: flex-start;
    gap: 10px 20px;
}

li{
    list-style: none;
    color: var(--cor-primaria);
    cursor: pointer;
    font-size: 20px;
    transition: 1s;
    font-family: var(--fonte-primaria);
}

li:hover {
    color: #d21616a2;
}   

.container{
    margin: 50px;
    padding: 5%;
    display: flex;
    justify-content: space-evenly;

}

.titulo_principal{
    font-family: var(--fonte-primaria);
    font-size: 35px;
}

#primeira__foto{
    width: 250px;
    height: 250px;
    border-radius: 5%;
}

.carta__container{
    margin:0%;

}
.carta__titulo {
    font-family: var(--fonte-primaria);
    font-weight: 100%;
    font-size: 30px;
    display: flex;
    justify-content: center;
}
.paragrafo {
    margin: 3%;
    font-size: 25px;
    display: flex;
    justify-content: center;
}
.nossasFotos__Titulo{
    font-family: var(--fonte-primaria);
    font-weight: 100%;
    font-size: 30px;
    display: flex;
    justify-content: center;

}
.nossasFotos__Grade{
    margin: 0%;
    padding: 2%;
  
}

.foto__Sessao1{
    margin: 2%;
    padding: 2%;
    display: flex;
    justify-content: space-around;

}

#foto__Grade1{
    width: 250px;
    height: 250px;
    border-radius: 5%;
}
#foto__Grade2{
    width: 250px;
    height: 250px;
    border-radius: 5%;
}
#foto__Grade3{
    width: 250px;
    height: 250px;
    border-radius: 5%;
}
#foto__Grade4{
    width: 250px;
    height: 250px;
    border-radius: 5%;
}
#foto__Grade5{
    width: 250px;
    height: 250px;
    border-radius: 5%;
}
#foto__Grade6{
    width: 250px;
    height: 250px;
    border-radius: 5%;
}

.foto__Sessao2 {
    margin: 2%;
    padding: 2%;
    display: flex;
    justify-content: space-around;
}

#foto__Grade7{
    width: 250px;
    height: 250px;
    border-radius: 5%;
}
#foto__Grade8{
    width: 250px;
    height: 250px;
    border-radius: 5%;
}
#foto__Grade9{
    width: 250px;
    height: 250px;
    border-radius: 5%;
}
#foto__Grade10{
    width: 250px;
    height: 250px;
    border-radius: 5%;
}
#foto__Grade11{
    width: 250px;
    height: 250px;
    border-radius: 5%;
}
#foto__Grade12{
    width: 250px;
    height: 250px;
    border-radius: 5%;
}

.roda__pe{
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    font-size: 18px;
    width:auto;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
   
    
}